<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqKnDm0MY5hzeDusL73IcIbmlD-xOsuG8</string>
	<key>GCM_SENDER_ID</key>
	<string>852940452574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iplanning</string>
	<key>PROJECT_ID</key>
	<string>iplanning-4ed05</string>
	<key>STORAGE_BUCKET</key>
	<string>iplanning-4ed05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852940452574:ios:47cdb17178b0af3218484f</string>
</dict>
</plist>